doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title='PreProsTeamWorkPart1'
		link(href='../src/styles/normalize.css' rel='stylesheet')
		link(href='../src/styles/bootstrap/bootstrap.css' rel='stylesheet')
		link(href='../src/styles/bootstrap/bootstrap-theme.css' rel='stylesheet')
		link(href='styles/styles.css' rel='stylesheet')
	body

		//Andrey start



		//Andrey end
		
		//######
		//######

		//Leon start



		//Leon end


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="../src/js/bootstrap.js" type="text/javascript")